@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Lato&family=Outfit:wght@700&family=Roboto+Slab:wght@300;400&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
}

.q-card {
    max-width: 18rem;
    margin: auto;
    border-radius: 1em;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.qr-img {
    width: 100%;
    border-radius: 1em;
}

.q-card div {
    padding: .9em;
}

.q-card h1 {
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 1.5rem;
}

.q-card p {
    text-align: center;
    color: hsl(220, 15%, 55%);
}